* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --bg-color:   #333f58 ;
  --item-bg-color:  #292831;
  --text-color:  #fbbbad;
  --text-highlight:   #ee8695 ;
  --clickable:    #4a7a96 ;
}

p, h3 {
  color: var(--text-color);
}

a {
  color:white;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--clickable);
  /* color: var(--clickable); */
  transition: 0.2s;
}

a:hover {
  text-decoration-color: var(--text-highlight);
  background-color: var(--clickable);
}


img {
  image-rendering: crisp-edges;
}


body {
  background-color:  var(--bg-color);
  font-family: sans-serif;
  margin: auto;
  max-width: min(1280px, 80%);
}


.hidden {
  display: none;
  /*
  min-width: 0px;
  max-width: 0px;
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
  /* transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  scale: 0;
  margin: 0px;
  /* display: none !important;
  */
}

.item:target {
  border: 3px solid var(--text-highlight);
}

#searchbar {
  width: 100%;
  position: sticky;
  top: 0;
}


.item-main {
  display: flex;
  flex-direction: column;
  height: 85%;
}


.item-bot, .item-top {
  display: flex;
  justify-content: space-between;
}

.item-description {
  overflow: scroll;
  height: 100%;
  padding: 10px 0px;
  padding-left: 5px;
  font-style:italic;
  font-size: 110%;
}

.item-sub {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.item-sub > * {
  margin: 2px;
}

.item-inherits {
  font-weight: 700;
}

#itemcontainer {
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* flex-direction: row; */
  /* justify-content: space-around; */
}

.item {
  transition: 0.2s;
  color: var(--text-color);
  padding: 10px 10px;
  background-color: var(--item-bg-color);
  width: 340px;
  height: 260px;

  border-radius: 15px;
  margin: 10px;
}

.item-name {
  color: var(--text-highlight);
}

.item-icon {
  height: 35px;
  width: 35px;
}


.button:hover {
  filter:brightness(125%);
}

.button {
  background-color: var(--clickable);
  transition: 0.2s;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  padding: 5px 5px;
  /* padding-top: 5px;
  padding-bottom: 5px; */
}
.button:hover {
  color: var(--item-bg-color)
}

.button-less:hover {
  background-color: var(--clickable);
}

.button-less {
  background-color: transparent;
  border-width: 3px;
  border-style:solid;
  border-color: var(--clickable);
  
}

.item-source {
  /* min-height: 10px; */
  max-height: 32px;
  width: 52px;
  font-size: smaller;
}

.item-download {
  width: 100%;
  /* padding: 20px; */
}

